.myWorksWrapper {
  position: relative;
  display: grid;
  width: 100vw;
  height: 100vh;
  justify-content: left;
  align-content: center;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}
