@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("http://fonts.cdnfonts.com/css/trueno");

.section {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.sectionHeader {
  width: 100%;
}

.sectionHeader h2 {
  text-align: center;
}

.typeWrapper {
  position: relative;
  margin-left: 12vw;
}

.fontWrapper {
  margin: 10px;
}

.sectionHeader p {
  color: #f0f0f0;
  font-weight: 100;
  margin-left: 15px;
}

.sectionHeader p::before {
  content: "";
  background-color: #f0f0f0;
  height: 100%;
  width: 2px;
  position: absolute;
  left: 0px;
}

.openSans {
  font-family: "Open Sans", sans-serif !important;
}

.trueno {
  font-family: "Trueno", sans-serif !important;
}

.fontPreview {
  color: #f0f0f0;
  font-size: 10em;
  margin: 0;
}

.fontProperties {
  display: flex;
  color: #f0f0f0;
  font-weight: 100;
}

.fontProperties p {
  margin-right: 20px;
}

.fontAlphabetPreview {
  color: #f0f0f0;
}

@media (max-width: 800px) {
  .sectionHeader {
    margin-top: 60px;
  }

  .typeWrapper p {
    margin-bottom: 0;
  }

  .wrapper {
    flex-direction: column;
  }

  .fontPreview {
    text-align: center;
  }

  .omgwhy {
    margin-top: -20px;
  }

  .fontProperties {
    flex-direction: column;
  }

  .fontProperties p {
    margin: 2px;
  }

  .fontAlphabetPreview,
  .hint {
    display: none;
  }
}
