@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

header {
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
}

.container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  font-family: "Open Sans", sans-serif;
  font-size: 23px;
  margin: 0px 40px 0px 40px;
  transition: all 0.5s ease-in-out;
}

.navList li {
  list-style: none;
  display: inline-block;
  padding: 0 0 0 40px;
}

.navLinks {
  color: #cfcccc;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  position: relative;
  margin: 0;
  user-select: none;
  cursor: pointer;
}

.navLinks:hover {
  color: #f3f3f3 !important;
}

.navLinks::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -10px;
  background-color: #6d6d6d;
  height: 1.5px;
  width: 0;
  transition: all 0.3s ease 0s;
  pointer-events: none;
}

.navLinks:hover:after {
  left: 0;
  width: 100%;
}

/* mobile menu */
.mobileContainer {
  position: relative;
  display: none;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  font-family: "Open Sans", sans-serif;
  font-size: 23px;
}

.mobileLogo {
  margin-left: auto;
  margin-right: none;
}

.checkBox,
.hamburgerMenu {
  width: 32px;
  height: 32px;
}

.checkBox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 44px;
  left: 10.4%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.hamburgerMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: all 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  border-radius: 0px;
  padding: 5px;
}

.firstLine {
  width: 50%;
  height: 3px;
  border-radius: 3px;
  background-color: #f0f0f0;
  mix-blend-mode: exclusion;
  align-self: flex-end;
  z-index: 4;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.secondLine {
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background-color: #f0f0f0;
  mix-blend-mode: exclusion;
  z-index: 4;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.thirdLine {
  width: 50%;
  height: 3px;
  border-radius: 3px;
  background-color: #f0f0f0;
  mix-blend-mode: exclusion;
  z-index: 4;
  align-self: flex-start;
  transition: all 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.mobileContainer input[type="checkbox"]:checked ~ .hamburgerMenu .firstLine {
  transform: rotate(-45deg);
  width: 47%;
}

.mobileContainer input[type="checkbox"]:checked ~ .hamburgerMenu .secondLine {
  transform: rotate(45deg);
}

.mobileContainer input[type="checkbox"]:checked ~ .hamburgerMenu .thirdLine {
  transform: rotate(-45deg);
  width: 47%;
}

.mobileContainer input[type="checkbox"]:checked ~ .hamburgerMenu {
  background-color: #f0f0f0;
  border-radius: 11px;
}

.navMenu {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url("/public/mobileBack/Background.svg");
  background-size: cover;
  border-top-right-radius: 100% 10%;
  left: 0vw;
  top: 100vh;
  transition: all 1s cubic-bezier(0.61, -0.27, 0.26, 1.22);
}

.menuHeader {
  color: #0f0f0f;
  font-weight: 100;
  font-size: 4em;
  text-align: center;
}

.mobileNavList {
  list-style: none;
  position: relative;
}

.mobileNavLinks {
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  color: #0f0f0f;
  font-weight: 400;
  font-size: 2em;
  cursor: pointer;
}

.mobileNavList {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  transition: all 0.5s ease-in-out;
}

.mobileNavList li {
  margin: 15px 0 15px 0;
}

.mobileNavLinks::before {
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  position: absolute;
  background-color: #0f0f0f;
  width: 20px;
  height: 2px;
  border-radius: 3px;
}

.mobileNavLinks::after {
  content: "";
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  position: absolute;
  background-color: #0f0f0f;
  width: 20px;
  height: 2px;
  border-radius: 3px;
}

.logIcon svg {
  color: #cfcccc;
  transform: translate(0, 20%);
  font-size: 1.03em;
  pointer-events: none;
}

.mobileLogIcon svg {
  color: #0f0f0f;
  transform: translate(0, 10%);
  font-size: 1em;
  pointer-events: none;
}

@media (max-width: 800px) {
  .navMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .mobileContainer {
    display: flex;
  }

  .container {
    display: none;
  }
}
