.textWrapper {
  margin-top: 5vh;
  margin-left: 13vw;
  margin-bottom: 1vh;
}

.counterWrapper {
  position: relative;
  display: flex;
  margin-top: 4vh;
  margin-bottom: 8vh;
}

.worksCounter {
  font-size: clamp(60px, 7vw, 105px);
  margin-right: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  position: relative;
}

.worksCounter::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  height: 3px;
  width: 50%;
  background-color: #f3f3f3;
}

.descriptionWrapper {
  display: grid;
  align-content: center;
  justify-content: center;
  font-size: clamp(16px, 2vw, 20px);
}

.counterDescription {
  color: #8a8a8a;
  margin: 0;
}

.typeWrapper {
  position: relative;
}

.type {
  color: #8a8a8a;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  margin: 0;
  margin-left: 15px;
}

.type::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  border-radius: 100px;
  background-color: #8a8a8a;
  transform: translateX(-14px);
}

.worksType {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #ffffff;
}

@media (max-width: 800px) {
  .textWrapper {
    margin: auto;
  }

  .counterWrapper {
    margin: 4vh;
    justify-content: center;
  }

  .worksCounter {
    font-size: clamp(75px, 15vw, 75px);
  }

  .descriptionWrapper {
    font-size: clamp(21px, 5vw, 25px);
  }

  .nameWrapper {
    display: none;
  }
}
