.background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    animation: show 1s ease-in-out;
}

.background p, .background h2 {
    color: #f0f0f0;
    text-align: center;
    font-family: 'Open Sans';
}

.background h2 {
    font-size: 7em;
}

.desc {
    font-size: 2em;
}

@keyframes show {
    0%{
        opacity: 0;
        transform: translateY(-10px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}