.background {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background: rgb(28, 29, 33);
  background: linear-gradient(180deg, #1c1d21 0%, #040405 45%);
}

.bottom {
  z-index: 3;
  width: 45%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 0.9s cubic-bezier(0.34, 1.56, 0.64, 1),
    left 0.9s cubic-bezier(0.34, 1.56, 0.64, 1),
    transform 0.9s cubic-bezier(0.34, 1.56, 0.64, 1),
    width 0.9s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.left {
  width: 25%;
  position: absolute;
  top: 20%;
  left: 45%;
  transform: translate(-45%, -20%);
  z-index: 2;
  transition: top 0.9s cubic-bezier(0.34, 1.56, 0.64, 1),
    left 0.9s cubic-bezier(0.34, 1.56, 0.64, 1),
    transform 0.9s cubic-bezier(0.34, 1.56, 0.64, 1),
    width 0.9s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.right {
  width: 30%;
  position: absolute;
  left: 65%;
  top: 80%;
  transform: translate(-65%, -80%);
  z-index: 1;
  transition: top 0.9s cubic-bezier(0.34, 1.56, 0.64, 1),
    left 0.9s cubic-bezier(0.34, 1.56, 0.64, 1),
    transform 0.9s cubic-bezier(0.34, 1.56, 0.64, 1),
    width 0.9s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.objects {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

/* Positions for objects (bottom)*/
.bottomPos0 {
  width: 45%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottomPos1 {
  width: 25%;
  top: 95%;
  left: 75%;
  transform: translate(-75%, -95%);
}

.bottomPos2 {
  width: 37%;
  top: 60%;
  left: 25%;
  transform: translate(-25%, -60%);
}

.bottomPos3 {
  width: 45%;
  top: 15%;
  left: 90%;
  transform: translate(-90%, -15%);
}

.bottomPos4 {
  width: 45%;
  top: 26%;
  left: 65%;
  transform: translate(-65%, -26%);
}

/* Positions for objects (left)*/
.leftPos0 {
  width: 25%;
  top: 20%;
  left: 45%;
  transform: translate(-45%, -20%);
}

.leftPos1 {
  width: 17%;
  top: 20%;
  left: 95%;
  transform: translate(-95%, -20%);
}

.leftPos2 {
  width: 23%;
  top: 90%;
  left: 60%;
  transform: translate(-60%, -90%);
}

.leftPos3 {
  width: 25%;
  top: 60%;
  left: 4%;
  transform: translate(-4%, -60%);
}

.leftPos4 {
  width: 25%;
  top: 70%;
  left: 10%;
  transform: translate(-10%, -70%);
}

/* Positions for objects (left)*/
.rightPos0 {
  width: 30%;
  left: 65%;
  top: 80%;
  transform: translate(-65%, -80%);
}

.rightPos1 {
  width: 20%;
  left: 100%;
  top: 95%;
  transform: translate(-100%, -95%);
}

.rightPos2 {
  width: 30%;
  left: 85%;
  top: 30%;
  transform: translate(-85%, -30%);
}

.rightPos3 {
  width: 30%;
  left: 100%;
  top: 95%;
  transform: translate(-100%, -95%);
}

.rightPos4 {
  width: 20%;
  left: 80%;
  top: 70%;
  transform: translate(-80%, -70%);
}

@media (max-width: 800px) {
  /* Positions for objects (bottom)*/
  .bottomPos0 {
    width: 350px;
  }

  .bottomPos1 {
    width: 240px;
  }

  .bottomPos2 {
    width: 350px;
  }

  .bottomPos3 {
    width: 380px;
  }

  .bottomPos4 {
    width: 300px;
  }

  /* Positions for objects (left)*/
  .leftPos0 {
    width: 225px;
  }

  .leftPos1 {
    width: 250px;
  }

  .leftPos2 {
    width: 200px;
  }

  .leftPos3 {
    width: 220px;
  }

  .leftPos4 {
    width: 100px;
  }

  /* Positions for objects (left)*/
  .rightPos0 {
    width: 225px;
  }

  .rightPos1 {
    width: 120px;
  }

  .rightPos2 {
    width: 220px;
  }

  .rightPos3 {
    width: 200px;
  }

  .rightPos4 {
    width: 300px;
  }
}
